<h1>Welcome to Hracker!</h1>
<h2>the health and fitness training app</h2>

<p>You have taken <%=@all_steps_ever%> steps over the life of this app!</p>



<p><%= link_to 'New Step', new_step_path %></p>

<p><%= link_to 'New Weight', new_weight_path %></p>

<p><%= link_to 'New Calories Consumed', new_calorie_intake_path %></p>

<p><%= link_to 'New Exercise', new_exercise_path %></p>
