<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise performed</strong>
  <%= @exercise.exercise_performed %>
<p>

<p>
  <strong>ID</strong>
  <%= @exercise.id %>
<p>

  <p>
    <strong>Calories burned</strong>
    <%= @exercise.calories_burned %>
  <p>

  <%= link_to 'Edit', exercises_path %> |
  <%= link_to 'Back', dashboards_index_path %>
  <%= link_to 'Dashboard', root_path %>
